.thumbnail {
  width: 100%;
  border-radius: 10px;
}
.channelThumb {
  width: 80px;
  height: 80px;
}
.title,
.channelTitle {
  margin: 5px 0;
}
.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.channelTitle {
  color: var(--title-font-color);
  font-size: 13px;
}
