.title {
  font-size: 20px;
  font-weight: 600;
}
.channelMetadata {
  display: flex;
}
.channelImg {
  border-radius: 50%;
  width: 50px;
}
.channelTitle {
  font-weight: 500;
}
.frame {
  display: flex;
  flex-direction: column;
}
