.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: repeat(30, 1fr);
  justify-content: space-between;
  padding: 20px 40px;
  gap: 30px 20px;
  /* background-color: black; */
}
.main a {
  text-decoration: none;
  color: black;
}
.video {
  list-style: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
