.header {
  display: flex;
}

.menuBtn {
  border: none;
  background-color: transparent;
  font-size: 32px;
  padding: 0;
  margin: 0 20px;
}

.logoAndTitle {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
