.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
  grid-template-rows: repeat(30, 300px);
  margin: 20px 40px;
  gap: 30px 30px;
}

.video {
  list-style: none;
  background-color: antiquewhite;
  border-radius: 15px;
}
